#root {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 360px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

/* Add padding to bottom to prevent content from being hidden by fixed footer */
.flex-grow-1 {
  padding-top: 20px;
  padding-bottom: 100px;

  margin-bottom: 100px;
}
