#root {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 360px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

.references {
  position: absolute;
  bottom: 80px;
  /* Adjust this value as needed for vertical spacing from the bottom */
  left: 50%;
  /* Move the left edge of the element to the horizontal center */
  transform: translateX(-50%);
  /* Shift the element back by half of its own width */
  font-size: xx-small;
  width: auto;
  text-align: center;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

/* Add padding to bottom to prevent content from being hidden by fixed footer */
.flex-grow-1 {
  padding-top: 20px;
  padding-bottom: 100px;

  margin-top: 4rem;
  margin-bottom: 100px;
}