.dashboard-container {
  align-items: center;
  h1 {
    padding-top: 1em;
  }
  .list-container {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    align-items: center; // Vertically align items in the row
    justify-content: space-between; // Put space between the link and the icons
    padding-top: 1em;

    .restaurant-link {
      padding-right: 1em;
      justify-content: flex-start;
    }

    .icons_container {
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      .icon {
        cursor: pointer;
        &:hover {
          color: green;
        }
      }
    }

    .restaurant-link {
      text-decoration: none; /* Remove the default underline */
      color: inherit;
      cursor: pointer;
      &:hover {
        color: green;
      }
    }
  }
}
