.restaurant-card {
  margin-bottom: 20rem;
}

.sub-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-container {
  margin-top: 5rem;

  img {
    width: 18rem;
    height: 18rem;
  }
}

.fav-card {
  width: 18rem;
  margin-bottom: 1rem;
}
